<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.itheming.app"
    android:installLocation="auto"
    android:versionCode="12"
    android:versionName="@string/versionsnummer"
    android:orientation="vertical" >

    <intent-filter>
    </intent-filter>
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>
		<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@style/iThemingTheme"
        android:installLocation="auto" >
        <activity
            android:name="com.itheming.app.ForumBrowser"
            android:theme="@style/iThemingThemeForum"
            android:screenOrientation="nosensor"
            android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
        <activity android:name="com.itheming.app.infos"></activity>
        <activity android:name="com.itheming.app.spenden"></activity>
        <activity android:name="com.itheming.app.changelog"></activity>
        <activity android:name="com.itheming.app.setup.Login"></activity>
        <activity android:name="com.itheming.app.setup.Finished"></activity>
        <activity android:name="com.itheming.app.setup.Setup"></activity>

        </application>
</manifest>